:root {
  --background-color: #f1f1f1;
  --background-color-sidemenu: #6d6d6d;
  --border: 1px solid #e1e1e1;
  --background-button: #c6cbff;
  --background-button-hover: #a4abed;
  --background-button-disabled:#cacaca;
}

