@import "mixins";

.checkout_card{
  display: flex;
  justify-content: space-between;
  border-bottom: var(--border);
  align-items: center;
  img{
    margin-right: 5px;
  }
  p {
    width: 90px;
  }
}

@include mobile(){
  .checkout_card{
    img{
      display: none;
    }
  }
}
