@import "mixins";

.checkout_content {
  max-width: 1000px;
  width: 900px;
  min-width: 300px;
  height: auto;
  min-height: 500px;
  background-color: var(--background-color);
  margin: auto;
  border-radius: 15px;
  border: var(--border);
  padding: 50px;
  box-sizing: border-box;
  display: flex;

  .checkout-list {
    width: 60%;
    height: auto;
    padding-right: 15px;
    border-right: var(--border);
    box-sizing: border-box;

    .title_content{
      display: flex;
      justify-content: space-between; 
      align-items: center;
      
      button {
        border: none;
        position: relative;
        background: transparent;
      }

      .title {
        font-size: 20px;
      }
    }
  }

  .summary{
    text-align: end;
    width: 40%;
    padding-left: 20px;
    box-sizing: border-box;

    button {
      width: 100%;
      height: 50px;
      background-color: var(--background-button);
      border-radius: 12px;
      border: var(--border);
      font-size: 18px;
      font-weight: 600;
      margin-top: 30px;
    }

    button:hover {
      background-color: var(--background-button-hover);
    }

    button:disabled{
      background-color: var(--background-button-disabled);
    }

    .summary_info{
      display: flex;
      justify-content: space-between;
      font-size: 18px;

      p{
        margin: 5px;
      }
    }
  }
}

@include mobile() {
  .checkout_content {
    flex-direction: column;

    .checkout-list, .summary {
      width: 100%;
      text-align: center;  
      padding: 0;
      border: none;
    }
  }

  
}